<h1>Editing Page</h1>
<div class="admin-container">
	<div class="card white">
		<div class="card-content">
			<%= render 'form' %>
		</div>
	</div>
</div>
<%= link_to 'Back', admin_pages_path, data: { confirm: "are you sure? all saved data will be lost" },class: "btn waves-effect waves-light red darken-4 white-text" %>
<%= link_to 'Show', [:admin, @page], class: "btn waves-effect waves-light blue black-text" %>
