<h1>New Article</h1>
<div class="admin-container">
<%= render 'form' %>

<%= link_to 'Back', admin_articles_path,data:{ confirm: "Are you sure? , all unsaved data will be lost" } ,class: "btn red darken-4 white-text" %>
</div>
