<div class="stop-template">
	<h1>STOP!</h1>
	<p>
	You don't have administrator permissions.</br>
	Log out and Log in again as an administrator.
	</p>
	<%= link_to "Log Out", admin_logout_path, :method => :delete %>
</div>
