<div class="admin-container row">
	<div class="col s12">
		<div class="card white">
			<div class="card-content">
				<h2>Uploads</h2>
				<p>
					Manage your uploads.<br /><br />
					In this application, you can upload photos and other files to use as attachments
					for either pages or your articles (or blogpost as they are called in other CMS).
					<br /><br />
					Enjoy your time here!
				</p>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card white black_text">
			<div class="card-content">
				<%= render "images" %>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card white black_text">
			<div class="card-content">
				<%= render "files" %>
			</div>
		</div>
	</div>
</div>
