<!DOCTYPE html>
<html>
	<head>
		<title>青鸟归官方网站</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="HandheldFriendly" content="true" />
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="qng_dh">
			<div class="qng_logo"><li><img src="images/logo.jpg"></li></div>
			<div class="qng_dhnav">
				<div class="qng_dhbox">
					<div class="qng_dhnavli"><a href="#">网站首页</a></div>
					<Madiv class="qng_dhfg">|</div>
					<div class="qng_dhnavli"><a href="#">关于我们</a></div>
					<div class="qng_dhfg">|</div>
					<div class="qng_dhnavli"><a href="#">体验营</a></div>
					<div class="qng_dhfg">|</div>
					<div class="qng_dhnavli"><a href="#">手工坊</a></div>
					<div class="qng_dhfg">|</div>
					<div class="qng_dhnavli"><a href="#">自然吧</a></div>
					<div class="qng_dhfg">|</div>
					<div class="qng_dhnavli"><a href="#">加盟流程</a></div>
					<div class="qng_dhfg"></div>
				</div>
			</div>
		</div>
		<%= yield %>

	</body>
</html>
